body {
    background-color: white;
    font-family: "Leelawadee UI";
    /*display: flex;*/
    /*flex-direction: row;*/
}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*h3 {*/
/*    margin-top: 5px;*/
/*    margin-bottom: 5px;*/
/*}*/

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.lightText {
    color: white;
}

#icons {
    stroke: mediumpurple;
    fill: transparent;
    width: 50px;
    height: 50px;
}

#icons-sm {
    stroke: mediumpurple;
    fill: transparent;
    width: 30px;
    height: 30px;
}

#userImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    margin-top: 20px
}

#userName {

}

#myProfileLink {
    color: mediumpurple;
    text-decoration: none
}

.cardRadius {
    border-radius: 8px;
    -webkit-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.62);
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.62);
}

.tableRowRadius {
    border-radius: 8px;
    -webkit-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.62);
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.62);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar {
    background-color: whitesmoke;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.navbarLinksContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.navbarLinksButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbarLinks {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px 0px;
}

.navbarLinks > h2 {
    padding-left: 10px;
}

.navbarButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.navbarButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 4px;
    border-width: 1px;
    border-color: gray;
    /*color: #c399ff;*/
    padding: 5px 20px;
    margin: 5px 0px;
    outline: none;
    box-shadow: 1px 2px 2px 1px #b0b1b1;
}

.navbarButton:hover {
    cursor: pointer;
}

#navbarButtonIcons {
    stroke: black;
    fill: transparent;
    width: 15px;
    height: 15px;
    padding-right: 5px;
}

.dashboardView {
    display: flex;
    flex-direction: column;
    flex: 7;
}

.titleRow {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.loanManagementTasksCard {
    background-color: darkslategray;
    display: flex;
    flex: 2;
    margin: 0px 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.loanManagementTasksCard > .loanManagementTasksText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accountDetailsCard {
    background-color: darkslategray;
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 0px 20px;
    justify-content: space-around;
    align-items: center;
}

.middleContentRow {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.pendingLoanCard {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: inherit;*/
    flex: 2;
    margin: 0px 20px 0px 0px;
}

.pendingLoanCardTitle {
    padding-left: 20px;
}

.pendingLoansTable {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 100%;*/
    text-align: center;
    margin: 0px 10px 10px 10px;
}
.pendingLoansTable td, .pendingLoansTable th {
    padding: 10px 10px;
    margin: 10px 0px;
}
pendingLoansTable thead {
}
pendingLoansTable thead th {
    font-weight: normal;
}
.pendingLoansTable > tbody > tr > td:hover {
    cursor: pointer;
}

.pendingLoansTableExpanded {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.loanOptionCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0px 5px;
    outline: none;
}

.loanOptionCardTopRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loanOptionCardBottomRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5rem;
}






.processedLoansCard {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    /*margin: 0px 20px 0px 0px;*/
}

.processedLoanCardTitle {
    padding-left: 0px;
}

.processedLoansTable {

    text-align: center;
    margin: 0px 10px 10px 10px;
}
.processedLoansTable td, .processedLoansTable th {
    padding: 10px 10px;
    margin: 10px 0px;
}
processedLoansTable thead {
}
processedLoansTable thead th {
    font-weight: normal;
}

.approveLoanButton {
    background-color: green;
    color: white;
    border-radius: 8px;
    border-color: transparent;
    padding: 5px 20px;
    outline: none;
}

.rejectLoanButton {
    background-color: red;
    color: white;
    border-radius: 8px;
    border-color: transparent;
    padding: 5px 20px;
    outline: none;
}

.approveLoanButton:hover {
    cursor: pointer;
}

.rejectLoanButton:hover {
    cursor: pointer;
}


/*Mobile CSS*/

@media only screen
and (min-device-width: 300px)
and (max-device-width: 800px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {


    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar {
        flex-direction: column;
        background-color: #9370db;
    }

    .navbar > .navbarLinksContainer > .navbarLinksButton {
        margin: 30px 5px;
    }

    #userName {
        font-size: x-large;
    }

    #myProfileLink {
        color: white;
        font-size: large;
    }

    .navbarLinksContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .navbarLinksButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 8px;
        background-color: white;
    }

    .navbarLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        /*border: 1px solid black;*/
        /*border-radius: 8px;*/
        /*background-color: white;*/
    }

    #dashboardTitle {
        font-size: medium;
    }

    #accountTitle {
        font-size: medium;
    }

    #bankingTitle {
        font-size: medium;
    }
    #loanReviewTitle {
        font-size: medium;
        text-align: center;
    }

    .navbarButtons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbarButtons > a {
        padding: 0px 5px;
    }

    .navbarButton {
        padding: 10px 30px;
        font-size: medium;
    }

    .dashboardView {
        display: flex;
        flex-direction: column;
    }

    .titleRow {
        display: flex;
        flex-direction: column;
    }

    .titleContainer {
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titleContainer > h5 {
        display: flex;
        flex-direction: row;
        align-self: center;
        text-align: center;
    }

    .balanceCard {
        margin: 5px;
    }

    .accountDetailsCard {
        margin: 5px;
    }

    .middleContentRow {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .loanAmountCard {
        margin: 0px 0px 30px 0px;
    }

    .loanAmountTopRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        text-align: center;
    }

    h2 {
        font-size: xx-large;
    }

    .loanAmountMiddleRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .loanAmountMiddleRow > h2 {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .loanSliderValue {
        margin-bottom: 20px;
    }

    #loanAmountSlider1 {
        height: 20px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    #loanAmountSlider1::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background: white;
        width: 30px;
        height: 30px;
        margin-bottom: 0px;
        border-radius: 50%;
        background: #9b74c4;
        cursor: pointer;
    }

    #loanAmountSlider1::-moz-range-thumb {
        background: white;
        width: 30px;
        height: 30px;
        margin-bottom: 0px;
        border-radius: 50%;
        background: #9B74C4;
        cursor: pointer;
    }

    .loanTypeTitleContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        /*width: 80%;*/
    }

    .loanTypeTitleContainer > h5 {
        align-self: center;
        font-weight: lighter;
        max-width: 100%;
        text-align: center;
        /*padding-left: 20px;*/
    }

    .loanOptionsList {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        /*grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));*/
        gap: 8px 8px;
        grid-template-areas:
    ". ."
    ". ."
    ".";
        width: 100%;
    }

    .loanOptionCardTopRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .loanOptionCardTopRow > h4 {
        font-size: large;
        font-weight: lighter;
    }

    .loanOptionCardBottomRow > h5 {
        font-size: medium;
        font-weight: lighter;
    }

    .loanAmountBottomRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .tenureContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .tenureContainer > h5 {
        font-weight: lighter;
        max-width: 100%;
        text-align: center;
    }

    .tenureLength {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .monthGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        /*grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));*/
        gap: 8px 8px;
        grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . .";
        padding: 8px;
        width: 100%;
        /*https://grid.layoutit.com/*/
        /*    https://medium.com/@Snehil_/creating-responsive-grids-of-flexible-square-cards-without-css-media-queries-3ee104f0e597*/
    }

    .monthcard > h5 {
        font-size: medium;
        font-weight: lighter;
    }


    .loanSubmitButton {
        margin-top: 10px;
        padding: 10px 40px;
        font-size: x-large;
    }


    .personalInfoCard {
        margin: 0px;
        background-color: #efd9ef;
    }

    .personalInfoCardTopRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .personalInfoImage {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        min-width: 100px;
        max-width: 100px;
        margin-left: 0px;
    }

    .personalInformationMiddleRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .loanGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
        /*grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));*/
        gap: 8px 8px;
        grid-template-areas:
    ". ."
    ". .";
        /*padding: 8px;*/
        width: 70%;
    }

    .loanInfoButton > h4 {
        font-size: medium;
        font-weight: lighter;
    }





    .tableRowRadius {
        border-radius: 0px;
        -webkit-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.62);
        box-shadow: 0px 0px 0px 0px black;
        overflow-x: scroll;
    }

    #loanApplicationReviewTitle {
        text-align: center;
    }

    .pendingLoanCard {
        overflow-x: scroll;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .pendingLoanCardTitle {
        padding-left: 0px;
        text-align: center;
    }

    .pendingLoansTable * tbody:nth-child(event) {
        background: red;
    }


    .processedLoanCardTitle {
        padding-left: 0px;
    }

    .approveLoanButton {
        background-color: green;
        color: white;
        border-radius: 8px;
        border-color: transparent;
        padding: 10px 30px;
        font-size: large;
        outline: none;
    }

    .rejectLoanButton {
        background-color: red;
        color: white;
        border-radius: 8px;
        border-color: transparent;
        padding: 10px 30px;
        font-size: large;
        outline: none;
    }
}