<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" th:href="@{/css/loanAppReview.css}" />
    <title>ATZ Finance</title>
</head>
<body>
<header>
</header>
<main>
    <div class="container">
        <div class="navbar cardRadius">
            <div id="userImage"></div>
            <h3 id="userName">Daniel Johnson</h3>
            <a th:href="@{/dashboard}" id="myProfileLink">My Profile</a>
            <div class="navbarLinksContainer">
                <div class="navbarLinksButton">
                    <a class="navbarLinks" th:href="@{/dashboard}">

                        <svg xmlns="http://www.w3.org/2000/svg" id="icons-sm" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                        <a th:href="@{/dashboard}" style="text-decoration: none"><h2 id="dashboardTitle">Dashboard</h2></a>

                    </a>
                </div>
                <div class="navbarLinksButton">
                    <a class="navbarLinks" th:href="@{/dashboard}">


                        <svg xmlns="http://www.w3.org/2000/svg" id="icons-sm" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                        <a th:href="@{/account}" style="text-decoration: none"><h2 id="accountTitle">Account</h2></a>

                    </a>
                </div>
                <div class="navbarLinksButton">
                    <a class="navbarLinks" th:href="@{/dashboard}">

                        <svg xmlns="http://www.w3.org/2000/svg" id="icons-sm" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg>
                        <a th:href="@{/banking}" style="text-decoration: none"><h2 id="bankingTitle">Banking</h2></a>
                    </a>
                </div>
                <div class="navbarLinksButton">
                    <a class="navbarLinks" th:href="@{/loanAppReview}">

                        <svg xmlns="http://www.w3.org/2000/svg" id="icons-sm" viewBox="-4 -2 24 24" preserveAspectRatio="xMinYMin" class="icon__icon"><path d="M3 0h10a3 3 0 0 1 3 3v14a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V3a3 3 0 0 1 3-3zm1 7a1 1 0 1 0 0 2h8a1 1 0 0 0 0-2H4zm0 8a1 1 0 0 0 0 2h5a1 1 0 0 0 0-2H4zM4 3a1 1 0 1 0 0 2h8a1 1 0 0 0 0-2H4zm0 8a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2H4z"></path></svg>
                        <a th:href="@{/loanAppReview}" style="text-decoration: none"><h2 id="loanReviewTitle">Applications</h2></a>
                    </a>
                </div>


            </div>
            <div class="navbarButtons">
                <a th:href="@{/logout}" style="text-decoration: none"><button class="navbarButton"><svg xmlns="http://www.w3.org/2000/svg" id="navbarButtonIcons" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>Sign Out</button></a>
            </div>

        </div>
        <div class="dashboardView">
            <div class="titleRow">
                <div class="titleContainer">
                    <h1 id="loanApplicationReviewTitle">Loan Application Review</h1>
                    <h5>Review loan applications in just a few clicks!</h5>
                </div>
                <div class="loanManagementTasksCard cardRadius">
                    <div class="loanManagementTasksText">
                        <h5 class="lightText">Loan Management Tasks</h5>
                    </div>
                    <h2 class="lightText">Logo</h2>
                </div>
                <div class="accountDetailsCard cardRadius">
                    <h3 class="lightText">Account Details</h3>
                    <!--                    <svg th:src="@{/images/user.svg}" id="icons">-->
                    <svg xmlns="http://www.w3.org/2000/svg" id="icons" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>

                </div>
                <div class="accountDetailsCard cardRadius">
                    <h3 class="lightText">Document Details</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" id="icons" width="24" height="24" viewBox="0 0 24 24"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                </div>
            </div>
            <div class="middleContentRow">
                <div class="pendingLoanCard cardRadius">
                    <h2 class="pendingLoanCardTitle">Pending Loans</h2>
                    <!--Table generator: https://divtable.com/table-styler/ -->
                    <table class="pendingLoansTable">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th></th>
                            <th></th>
                            <th>User ID</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody class="pendingLoansTableBody">

                        </tbody>
                    </table>
                </div>
<!--                <div class="processedLoansCard cardRadius">-->
<!--                    <h2 class="processedLoanCardTitle">Processed Loans</h2>-->
<!--                    &lt;!&ndash;Table generator: https://divtable.com/table-styler/ &ndash;&gt;-->
<!--                    <table class="processedLoansTable">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th>Last</th>-->
<!--                            <th>ID</th>-->
<!--                            <th>Status</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody class="processedLoansTableBody">-->

<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</main>
<footer>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/js/loanAppReview.js}"></script>
</body>
</html>